@mixin general-theme {
  --color-primary: #255aeb;
  --color-primary-dark: #0b3fce;
  --color-primary-60: #255aeb60;
  --color-primary-40: #255aeb40;

  --color-secondary: #9333ea;
  --color-secondary-dark: #7e28cb;
  --color-secondary-60: #9233ea60;

  --color-accent: #0b8cf5;

  --color-info: #3b82f6;
  --color-success: #16a34a;
  --color-warning: #eab308;
  --color-error: #dc2626;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e1e2e3;
  --color-gray-500: #6b7280;
  --color-gray-400: #575e6a;
  --color-gray-800: #5c6069;
  --color-gray-900: #1e2124;
}
