.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 10px 10%;
  position: sticky;
  z-index: 900;
  top: 0;
  backdrop-filter: blur(0);
  transition: all 100ms linear;
  background-color: transparent;
  border-bottom: none;

  &_darker {
    background-color: #10101289;
    backdrop-filter: blur(45px);
    border-bottom: 1px solid #282829;
  }

  @media (max-width: 992px) {
    padding: 10px 5%;
  }
  @media (max-width: 768px) {
    padding: 10px 3%;
  }
  @media (max-width: 576px) {
    padding: 10px 2%;
  }
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
