@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import './base/theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  @include general-theme;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-gray-800);
}

body {
  margin: 0;
  height: max-content;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgba(15, 15, 18, 1) !important;

  // dark mode gradient:
  // background: linear-gradient(0deg, rgb(22, 24, 27) 0%, rgba(15, 15, 18, 1) 20%) !important;

  // light mode gradient:
  // background: linear-gradient(0deg, rgb(209, 224, 255) 0%, rgba(255, 255, 255, 1) 20%);
}
